In [ ]:
class ClassName:
    # statement_1
    .
    .
    .
    # statement_n
    
    Myclass.Myattributes

In [14]:
class Student:
    
    def __init__(self, name):
        self.name = name
        
    att_1 = "A+"
    att_2 = "23"
    att_3 = "system engineering"
    
    def report(self):
        print(self.name + "'s Grade:" + self.att_1)
        print(self.name + "'s Age:" + self.att_2)
        print(self.name + "'s Major:" + self.att_3)

In [15]:
s = Student("Ali")
s.report()

Ali's Grade:A+
Ali's Age:23
Ali's Major:system engineering

In [11]:
Ali.report()

Grade:  A+
Age:  23
Major:  system engineering

In [4]:
# myobject.VariableName
Ali.att_1

'A+'

In [5]:
# myobject.method()
Ali.report()

Grade:  A+
Age:  23
Major:  system engineering

In [6]:
# Myclass.method(myobject)
Student.report(Ali)

Grade:  A+
Age:  23
Major:  system engineering

In [16]:
class Coffee:
    def __init__(self, name, price):
        self.name = name
        self.price = price

In [17]:
order = Coffee("Espresso", 2)
print(order.name)
print(order.price)

Espresso
2

In [19]:
order_2 = Coffee("Latte", 3)
print(order_2.name)
print(order_2.price)

Latte
3

In [20]:
class Student:
    
    department = "Engineering"
    
    def __init__(self, grade, age, major):
        self.grade = grade
        self.age = age
        self.major = major

In [21]:
Ali = Student("A+", "23", "System Engineering")
Rob = Student("C+", "21", "operations research")

In [22]:
print("Ali details:")
print("Ali is in the", Ali.department, "department")
print("Grade:", Ali.grade)
print("Age:", Ali.age)
print("Major: ", Ali.major)

print("\nRob details:")
print("Rob is in the", Rob.department, "department")
print("Grade:", Rob.grade)
print("Age:", Rob.age)
print("Major: ", Rob.major)

Ali details:
Ali is in the Engineering department
Grade: A+
Age: 23
Major:  System Engineering

Rob details:
Rob is in the Engineering department
Grade: C+
Age: 21
Major:  operations research

In [23]:
print(Rob.department)

Engineering

In [24]:
class Student:
    
    def __init__(self, a, b):
        self.a = a
        self.b = b
        
    def avg(self):
        return (self.a + self.b)/2

In [25]:
g = Student(25, 23)
print(g.avg())

24.0

In [27]:
# classmethod (function, arg 1, arg 2, .......)

classmethod(function)
@classmethod

In [33]:
class Student:
    
    name = "Sophomore"
    
    def __init__(self, a, b):
        self.a = a
        self.b = b
        
    @classmethod
    def information(cls):
        return cls.name 
    
    @staticmethod
    def addnum(a, b):
        return a+b

In [35]:
print(Student.information())
Student.addnum(10, 15)

Sophomore

25

In [32]:
Student(25, 23).information()

'Sophomore'

In [36]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    @staticmethod
    def isAdult(age):
        return age>18

In [37]:
print("Is person adult:" , Person.isAdult(12))

Is person adult: False

In [38]:
print("Is person adult:" , Person.isAdult(22))

Is person adult: True

In [39]:
from datetime import date

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    @classmethod
    def fromBirthYear(cls, name, year):
        current_year = date.today().year
        calculate_age = current_year - year
        return cls(name, calculate_age)
    
    @staticmethod
    def isAdult(age):
        return age>18

In [40]:
person_1 = Person.fromBirthYear("Ahmad", 2005)
person_2 = Person("Jack", 21)

In [41]:
print("Name:", person_1.name, "\nAge:", person_1.age)
print("Result:", person_1.isAdult(person_1.age))

print("Name:", person_2.name, "\nAge:", person_2.age)
print("Result:", person_1.isAdult(person_2.age))

Name: Ahmad
Age: 16
Result: False
Name: Jack
Age: 21
Result: True